.panel {
  padding: 10px;
}

.header {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
}

.item {
  padding-left: 10px;
}

.app {
  border: 1px solid #aaa;
  border-radius: 3px;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  padding: 40px 0;
  float: left;
  margin: 10px 20px 0 0;
}

.app:hover {
  background-color: rgba(77, 137, 205, 0.2);
}
